<div class="containe-fluid">
    <div class="row body-box">
        <div class="main-box col-12">
            <div class="profile-header">
                <h1>Portfolio</h1>
            </div>
            <div class="port-list">
                {{#each element}}
                <div class="row portfolio-piece slider">
                    <div class="col-12">
                        <div class="col-12 col-lg-5 med-screen">
                            <img src={{pic}} alt="portpic" class="screenshot">
                        </div>
                        <div class="col-12 col-lg-5 tech-list">
                            <div class="profile-header left">
                            <a class="btn btn-link title-link" href={{url}}><h1>{{projectTitle}}</h1></a>
                            
                        </div>
                            <h4><strong>This project was built with: </strong><br></h4>
                            <p>&#x9 {{technology}}</p>
                        </div>
                        <div class="col-12">
                            <p class="portfolio-summary"><strong>Summary: </strong><br>{{projectDescription}}</p>
                            <a class="btn btn-link doc-link" href={{repo}}>Github repo</a>
                        </div>
                    </div>
                        
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>